<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestion de Proyectos</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
    <!--CUSTOM CSS-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-4 formulario">
                <form rol="form" [formGroup]="miFormulario" th:action="@{/app/index}"  th:object = ${usuario} method="post"> 
                    <div class="form-group pt-5">
                    <!-- No recupera la imagen -->
                        <img th:src="@{../static/img/user.png}" class="avatar" />
                    </div>
                    <div class="form-group text-light text-center">
                        <h2>LOGIN</h2>
                    </div>
                    <div class="form-group pt-1 ">
                        <label for="exampleInputEmail1">Usuario:</label>
                        <div class="">
                            <input placeholder="Ingrese Usuario" [class.is-invalid]="miFormulario.get('username').touched && miFormulario.get('username').invalid"
                            type="text" class="form-control text-light" formControlName="username"   th:field= "*{userCode}" name="userCode" maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group pb-3">
                        <label for="exampleInputEmail1">Password:</label> 
                        <div class="">
                            <input placeholder="Ingrese Password" [class.is-invalid]="miFormulario.get('userpassword').touched && miFormulario.get('userpassword').invalid"
                                 type="password" class="form-control text-light" formControlName="userpassword"  th:field= "*{password}" name="password" maxlength="30"  />
                        </div>
                    </div>
                    <div class="form-group pb-5">
                        <div class="">
                            <button  type="submit" class="btn btn-block ingresar">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h1 th:text="${error}"></h1>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>