<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Gestion de Proyectos</title>
	<link href="../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
</head>
<body>
	<div class="contenedor">
		<div class="wrap">
			<form rol="form" [formGroup]="miFormulario" th:action="@{/app/index}"  th:object = ${usuario} method="post">
				<div class="form-group ">
					<label for="exampleInputEmail1">Usuario:</label>
						<div class="">
							 <input placeholder="Ingrese Usuario" [class.is-invalid]="miFormulario.get('username').touched && miFormulario.get('username').invalid"
							  type="text" class="form-control" formControlName="username"   th:field= "*{userCode}" name="userCode" maxlength="30"/>
						</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Password:</label> 
						<div class="">
							<input placeholder="Ingrese Contraseña" [class.is-invalid]="miFormulario.get('userpassword').touched && miFormulario.get('userpassword').invalid"
						 	type="password" class="form-control" formControlName="userpassword"  th:field= "*{password}" name="password" maxlength="30"  />
						</div>
				</div>
				<div class="form-group">
					<div class="">
						<button  type="submit" class="btn btn-outline-primary">Ingresar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<h1 th:text="${error}"></h1> 




	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>