<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Asignar Tarea a Proyecto</title> 
 	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
<link rel="stylesheet" >
	<center> 
	<br>
	<font color="#145DC7">
	<h1>Asignar Tarea a Proyecto</h1> 
	</font>
	</center> <br>
	<table border ="3" align="center" width="25%" >
     <tr>
       <td width="5000%">
		<blockquote>
		<center>
		<p><img src=../../static/img/user.png th:src="@{/img/user.png}" width="30" height="30"/>
		<font color="#145DC7">
		<b>Favor complete los campos</b> </p> 
		</font>
		</center>
		</blockquote>
		<p><br>
	   </td>
     </tr>
	 <tr>
	  <td>
		<form th:action="@{/app/desarrollo/asignarTarea}" th:number = ${tarea} method="post">
		 <center>
		 <font color="#145DC7">
			<p>Codigo Tarea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{tarea.codigoTarea}" name="codigoTarea" size="18" />
			<p>Codigo de Proyecto :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{tarea.codigoProyecto}" name="codigoProyecto" size="18" />
			</p>
		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="submit" value="Asignar"> </p> 
		 </center>
		 </font>
		</form>
		<input type="button" onclick="location.href='/app/desarrollo/gestionProyecto'" value="Atras" />
	  </td>
	 </td>
	</table>
	<h1 th:text="${error}"></h1>
	
</body>

	