<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Gestion de Proyecto</title>
	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet"/>
</head>
<body>
	<div class="contenido-gral">
		<div class="page-header" >
    		<h1 class="titulo">Bienvenido Usuario Administrador</h1>
  		</div>
  		<div class="btn-toolbar botones-home" role="toolbar">
	    	<div class="btn-group">
	        	<button onclick="location.href= '/app/desarrollo/crearProyecto'" type="button" class="btn btn-outline-primary boton" >CREAR PROYECTO</button>
	        	<button onclick="location.href= '/app/desarrollo/modificarProyecto'" type="button" class="btn btn-outline-primary boton">MODIFCAR PROYECTO</button>
	        	<button onclick="location.href= '/app/desarrollo/asignarTarea'" type="button" class="btn btn-outline-primary boton">ASIGNAR TAREAS</button>
	    	</div>
   		</div>
	</div>
</body>
</html>