body {
    background-image: url(../img/Distant\ Mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.formulario{
  background:rgba(0, 0, 0, .1);
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 0 30px rgba(0, -0, -0, -0.568);
  color: white;

}
.form-control{
  background: rgba(0, -0,-0, .3);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
  
}
.form-control:focus{
  background: none;
  box-shadow: none;
  outline: none;
  
}
.form-control::placeholder{
  color: white;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border-color: rgba(0, 0, 0, .1);
}
.ingresar{
  background:#222A3F;
  padding: 10px;
  font-size: 16px;
  font-weight: 700!important;
  color: white;
  box-shadow:0 0 30px rgba(0, -0, -0, -0.568);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.ingresar:hover{
  color:white;
}
