<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Gestion de Usuarios</title>
	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
	<div class="contenido-gral">
		<div class="page-header" >
    		<h1 class="titulo">Bienvenido Usuario Administrador</h1>
  		</div>
  		<div class="btn-toolbar botones-home" role="toolbar">
	    	<div class="btn-group">
	        	<button  onclick="location.href= '/app/administrativo/crearUsuarios'" type="button" class="btn btn-outline-primary boton" >CREAR USUARIO</button>
	        	<button onclick="location.href= '/app/administrativo/modificarUsuario'"  type="button" class="btn btn-outline-primary boton">MODIFCAR USUARIO</button>
	    	    <button onclick="location.href= '/app/administrativo/asignarRol'"  type="button" class="btn btn-outline-primary boton">ASIGNAR ROL</button>
	    	</div>
   		</div>
	</div>
</body>
</html>
