<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Creación de Linea Base</title> 
 	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
	<center> 
	<br>
	<font color="#145DC7">
	<h1>Crear Linea Base</h1> 
	</font>
	</center> <br>
	<table border ="3" align="center" width="25%" >
     <tr>
       <td width="5000%">
		<blockquote>
		<center>
		<p> <img src=../../static/img/user.png th:src="@{/img/user.png}" width="30" height="30"/>
		<font color="#145DC7">
		<b>Favor complete los campos</b> </p> 
		</font>
		</center>
		</blockquote>
		<p><br>
	   </td>
     </tr>
	 <tr>
	  <td>
		<form th:action="@{/app/gestion/crearLineaBase}" th:object = ${rol} method="post">
		 <center>
		 <font ccolor="#145DC7">
			<p> Codigo Linea Base :
		 	<input type="text" th:field= "*{codLineaBase}" name="codLineaBase" size="18" />
			<p>Tarea :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{tarea}" name="tarea" size="18" />
			</p>
			<p>Fecha Inicio : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="Date"  th:field= "*{fechaInicio}" name="fechaInicio"/> </p> 
			<p>Fecha Fin : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="Date"   th:field= "*{fechaFin}" name="fechaFin"/> </p> 
		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <div class="btn-toolbar botones-gestion" role="toolbar">
	    	<div class="btn-group">
	        	<button onclick="location.href= '/app/gestion/modulogestion'" type="button" class="btn btn-outline-primary boton" >Atras</button>
				<input type="submit" value="Guardar"></p>
	    	</div>
   		</div>
		 </center>
		 </font>
		<input type="hidden" th:field="*{id}"> 
		</form>
	  </td>
	 </td>
	</table>
</body>
