<head>
 	<title>Modificacion Rol</title> 
 	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
	<center> 
	<br>
	<font color="#145DC7">
	<h1  th:text="${error}">Modificar Rol</h1> 
	</font>
	</center> <br>
	<table border ="3" align="center" width="25%" >
     <tr>
       <td width="5000%">
		<blockquote>
		<center>
		<p> <img src=../../static/img/user.png th:src="@{/img/user.png}" width="30" height="30"/>
		<font color="#145DC7">
		<b>Favor complete los campos</b> </p> 
		</font>
		</center>
		</blockquote>
		<p><br>
	   </td>
     </tr>
	 <tr>
	  <td>
		<form action='#'  th:action="@{/app/administrativo/modificarRoles}" th:number = ${rol} method="post">
		 <center>
		 <font color="#145DC7">
			<p>Buscar por Nombre de Rol&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <input  type="text" th:field= "*{rol.nombreRol}" name="id" size="18" />
			</p>
		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="button" onclick="location.href='/app/administrativo/gestionRoles'" value="Atras" />  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="submit" value="Buscar"> </p> 
		 </center>
		 </font>
		</form>
	  </td>
	 </td>
	</table>
</body>