<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Creación de Linea Base</title> 
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!--BOOTSTRAP-->
	 <link rel="stylesheet"
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		 crossorigin="anonymous">
	<!--CUSTOM CSS-->
	<link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<!--SE ESPECIFICAN LOS ERRORES-->
	<section>
        <div class="container text-light pt-3">
			<h1 th:text="${error}"></h1>
        </div>
	</section>
	<!--FORMULARIO-->
	<div class="container py-5">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-lg-6">
				<div class="form-group text-light text-center">
					<h3>CREAR LINEA BASE</h3>
					<br>
					<p>Debe ingresar los datos de la linea base a ser creado.</p>
				</div>
				<div class="letras">
					<form class="formulario mt-5" th:action="@{/app/gestion/crearLineaBase}" th:object = ${lineaBase} method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<p>Linea Base :
								<input placeholder="Ingrese Codigo" class="form-control text-light" type="text" th:field= "*{codigo}" name="codigo" size="18" />
							</div>
							<div class="form-group col-md-6">
								<p>Descripcion :
								<input placeholder="Ingrese Descripcion" class="form-control text-light" type="text" th:field= "*{descripcion}" name="descripcion" size="18" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<p>Fecha Creacion : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input class="form-control text-light" type="Date"  th:field= "*{fechaCreacion}" name="fechaCreacion"/> </p> 
							</div>
						</div>
					   <div class="form-group">
						   	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input class="btn btn-secondary btn-block letras" type="submit" value="Crear"></p>  
							<input onclick="location.href= '/app/gestion'" type="button" class="btn btn-block btn-primary letras" value="Atras" />
							<input  type="hidden" th:field="*{id}" >						
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>				
</body>
</html>

