<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Configuracion</title>
    <link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
    <div class="contenido-gral">
		<div class="page-header" >
    		<h1 class="titulo">Bienvenido Usuario Administrador</h1>
  		</div>
  		<div class="btn-toolbar botones-home" role="toolbar">
	    	<div class="btn-group">
	        	<button onclick="location.href= '/app/gestion/verLineaBase'" type="button" class="btn btn-outline-primary boton" >VER LINEA BASE</button>
	        	<button onclick="location.href= '/app/gestion/listar_tareas'" type="button" class="btn btn-outline-primary boton">LISTAR TAREAS</button>
	    	</div>
   		</div>
	</div>
</body>
</html>