<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Tareas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
   <!--CUSTOM CSS-->
   <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  
</head>
<body>
     <!--FORMULARIO-->
    <div class="container py-5">
        <div class="card ">
            <div class="card-body">
                <!--div th:switch="${tareas}">
                    <h2 th:case="null">No hay tareas establecidas!</h2>
                    <div th:case="*"-->
                        <h2>Lista de Tareas</h2>
                        <table class="table table-hover p-5">
                            <tbody>
                            		<thead>
                                            <tr class="bg-dark text-white">
                                                <th>Tareas</th>
                                                <th>Version</th>
                                                <th>Prioridad</th>
                                                <th>Estado</th> 
                                                <th>Descripcion</th>
                                                <th>Observacion</th>
                                                <th>Proyecto</th>
                                                <th>Tarea Padre</th> 
                                                <th>Linea Base</th>   
                                                <th>Conectar</th>  
												
                                            </tr>
                                        </thead>
                                    <div th:each="tar :${tareas}">
                                    <!-- Por si haya problemas -->
                                    <!-- ${#lists.toList(tareas)} -->
                                        <tr>  
                                        	<td th:text="${tar.codigoTarea}"></td>
                                        	<td th:text="${tar.version}"></td>
                                        	<td th:text="${tar.prioridad}"></td>
                                        	<td th:text="${tar.estado}"></td>
                                            <td th:text="${tar.descripcion}"></td>
                                            <td th:text="${tar.observacion}"></td>
                                            <td th:text="${tar.codigoProyecto}"></td>
                                            <td th:text="${tar.tareaPadre}"></td>
                                            <td th:text="${tar.codLineaBase}"></td>
											<td><a th:href="@{/app/desarrollo/tarea/conectarTarea/{codigoTarea}(codigoTarea=${tar.codigoTarea})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        </tr> 
                                    </div>
                            </tbody>
                        </table>
                    <!--/div>
                </div-->
            </div>
        </div>
    </div>
    <section class="container py-5">
        <footer>
            <input onclick="location.href= '/app/desarrollo/verTareas'" type="button" class="btn btn-primary btn-lg" value="Atras" />
        </footer>
    </section>
</body>
</html>
