<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Modulo de Desarrollo</title>
	<link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
	<div class="contenido-gral">
		<div class="page-header" >
    		<h1 class="titulo">Bienvenido Usuario Administrador</h1>
  		</div>
  		<div class="btn-toolbar botones-administrativo" role="toolbar">
	    	<div class="btn-group">
	        	<button onclick="location.href= '/app/desarrollo/gestionProyecto'" type="button" class="btn btn-outline-primary boton" >GESTION DE PROYECTOS</button>
	        	<button onclick="location.href= '/app/desarrollo/gestionTarea'"  type="button" class="btn btn-outline-primary boton">GESTION DE  TAREAS</button>
	    	</div>
   		</div>
	</div>
</body>
</html>