<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Gestion de Tareas</title>
	<link href="../../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>
<body>
	<div class="page-header" >
    		<h1 class="titulo">Bienvenido Usuario Administrador</h1>
  		</div>  
	<div class="contenido-gral">
		
            
  		<div class="btn-toolbar botones-administrativo" role="toolbar">
	    	<div class="btn-group">
	        	<button onclick="location.href= '/app/desarrollo/crearTarea'" type="button" class="btn btn-outline-primary boton" >CREAR TAREAS</button>
	        	<button onclick="location.href= '/app/desarrollo/modificarTarea'" type="button" class="btn btn-outline-primary boton">MODIFICAR TAREAS</button>
                        <button onclick="location.href= '/app/desarrollo/conectarTarea'" type="button" class="btn btn-outline-primary boton">CONECTAR TAREAS</button>
			<button onclick="location.href= '/app/desarrollo/verTareas'" type="button" class="btn btn-outline-primary boton">VER TAREAS</button>
	    	</div>
   		</div>
	</div>
</body>
</html>