<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Configuracion</title>
    <!--link href="../../static/css/imagen.css" th:href="@{/css/imagen.css}" rel="stylesheet" /-->
    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div th:switch="${tarea}">
                    <h2 th:case="null">No hay tareas establecidas!</h2>
                    <div th:case="*">
                        <h2>Lista de Tareas</h2>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tarea</th>
                                    <th>Version</th>
                                    <th>Estado</th> 
                                    <th>Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>          
                            <th:block th:each="tareas : ${tarea}">
                                <tr>
                                    <td th:text="${tareas.id}"></td>
                                    <td th:text="${tareas.version}"></td>
                                    <td th:text="${tareas.estado}"></td>
                                    <td th:text="${tareas.descripcion}"></td>
                                </tr>  
                            </th:block>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>
    </div>
    <section class="container py-5">
        <footer>
            <button onclick="location.href= '/app/gestion/modulogestion'" type="button" class="btn btn-outline-primary btn-lg" >Atras</button>
        </footer>
    </section>
</body>
</html>
