<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div class="page-header" >
    <h1>Usuario Administrador</h1>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">Crear Usuario o Modificar Usuario</button>
        <button type="button" class="btn btn-outline-primary">Crear Roles o Modificar Roles</button>
        <button type="button" class="btn btn-outline-primary">Asignar Roles</button>
    </div>
</body>
</html>