<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Asignar Rol a Usuarios</title> 
 	<link rel="stylesheet" href="/css/imagen.css">
</head>
<body>
<link rel="stylesheet" >
	<center> 
	<br>
	<font color="#145DC7">
	<h1>Asignar Rol a Usuarios</h1> 
	</font>
	</center> <br>
	<table border ="3" align="center" width="25%" >
     <tr>
       <td width="5000%">
		<blockquote>
		<center>
		<p> <img th:src="@{/img/user.png}" width="30" height="30">
		<font color="#145DC7">
		<b>Favor complete los campos</b> </p> 
		</font>
		</center>
		</blockquote>
		<p><br>
	   </td>
     </tr>
	 <tr>
	  <td>
		<form th:action="@{/app/administrativo/asignarRol}" th:number = ${usuario} method="post">
		 <center>
		 <font color="#145DC7">
			<p>Usuario &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{usuario.userCode}" name="usuario" size="18" />
			<p>Codigo de Rol :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{usuario.nombreRol}" name="usuario" size="18" />
			</p>
		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="submit" value="Asignar"> </p> 
		 </center>
		 </font>
		</form>
		<input type="button" onclick="location.href='/app/administrativo/gestionUsuario'" value="Atras" />
	  </td>
	 </td>
	</table>
	<h1 th:text="${error}"></h1>
	
</body>

	