<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Crear Roles</title> 
 	<link rel="stylesheet" href="/css/imagen.css">
</head>
<body>
	<center> 
	<br>
	<font color="#145DC7">
	<h1>Crear Rol</h1> 
	</font>
	</center> <br>
	<table border ="3" align="center" width="25%" >
     <tr>
       <td width="5000%">
		<blockquote>
		<center>
		<p> <img th:src="@{/img/user.png}" width="30" height="30">
		<font color="#145DC7">
		<b>Favor complete los campos</b> </p> 
		</font>
		</center>
		</blockquote>
		<p><br>
	   </td>
     </tr>
	 <tr>
	  <td>
		<form th:action="@{/app/administrativo/crearRoles}" th:object = ${rol} method="post">
		 <center>
		 <font color="#145DC7">
			<p>ID Rol :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 	<input type="number" th:field= "*{id}" name="id" size="18" />
			<p>Nombre Rol :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" th:field= "*{nombreRol}" name="nombreRol" size="18" />
			</p>
		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="submit" value="Atras"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <input type="submit" value="Guardar"></p> 
		 </center>
		 </font>
		<input type="hidden" th:field="*{id}"> 
		</form>
	  </td>
	 </td>
	</table>
</body>