<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Gestion de Usuarios</title>
	<!--CSS-->
	<link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<!--BOOTSTRAP-->
	   <link rel="stylesheet"
		   href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		   integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		   crossorigin="anonymous">
	<!--FONTAWESOME-->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg">
        <div class="container">
            <h3 class="titulo">Bienvenido Administrador</h3>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li>
						<div class="">
							<i class="fas fa-user-tie"></i>
							<button  onclick="location.href= '/app/administrativo'" type="button" class="btn btn-outline-secondary">Atras</button>
						</div>
                    </li>
                </ul>
            </div>
        </div>
	</nav>
	<section class="py-5">
		<div class="contenido-gral">
			<div class="btn-toolbar botones-home" role="toolbar">
				<div class="btn-group">
					<button  onclick="location.href= '/app/administrativo/crearRoles'" type="button" class="boton2" >CREAR ROLES</button>
				</div>
				<div class="btn-group">
					<button onclick="location.href= '/app/administrativo/verRoles'"  type="button" class="boton2">VER ROLES</button>
				</div>
			</div>
		</div>	
	</section>
</body>
</html>
