<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div class="page-header" >
    <h1>Usuario Administrador</h1>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button  onclick="location.href= '/app/administrativo'" type="button" class="btn btn-outline-primary">Modulo Administrativo</button>
        <button type="button" class="btn btn-outline-primary">Módulo de Gestión de Configuración</button>
        <button type="button" class="btn btn-outline-primary">Módulo de Desarrollo</button>
    </div>

</body>
</html>